:root {

    --color-white: #FFFFFF;
    --color-black: #000000;

    //grey

    --color-light-grey: #6F6D7B;
    --color-grey: #3D4050;
    --color-grey-dark: #10101DE5;

    //blue

    --color-light-blue: #43ABF0;
    --color-blue: #286690;
    --color-dark-blue: #272733;

}
