.input {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    max-width: 370px;
    height: 48px;
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 4px;
    color: var(--color-dark-blue);
    padding: 12px 10px;
    box-sizing: border-box;

    &::placeholder {
        color: var(--color-dark-blue);
    }
}